.main{
    display:flex;
    margin:10px;
}
    /* Images */
.images{
    width:50%;
    margin:50px;
    margin-top:80px;
}

.big,.small{
    text-align: center;
    margin-bottom: 20px;
}

.small img{
    margin:10px;
    width:13%;
}
    /* info */
.info{
    padding:50px 5px;
    font-family: 'Nunito',sans-serif;
    margin:auto auto;
    width:50%; 
}

.info p{
    font-size: 13px;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
}

h5{
    font-family: 'Nunito',sans-serif;
}

.checked{
    color:rgb(10, 255, 173);
}

button{
    text-decoration: none;
    border-radius: 2px;
    margin-right: 5px;
    padding:10px 20px;
    background-color: white;
    border:1px solid black;
}

    /* Lower part */
.lower{
    margin:10px;
    height:20vh;
    display:flex;
    justify-content: center;
}

.options{
    font-family: 'Nunito',sans-serif;
    box-sizing: border-box;
    font-weight: bold;
    width:33.3%;
    font-size: 15px;
    height:100%;
    text-align: center;
    padding:0 3%;
    
} 

.options .text{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
}

.options img{
    position: relative;
    top:4px;
}
